nav a {
    margin-right: 20px;
    border-block-start-color: black;
    border-color: blue;
    padding: auto;

}

nav{
    background-color: whitesmoke;
}

nav a.active {
    text-decoration: underline;
    font-size: medium;
    text-shadow: 10px;
    color: blueviolet;
}

